Auto Complete Type:
<select ng-model="types">
    <option value="['geocode']">Geodode</option>
    <option value="['establishment']">Establishment</option>
    <option value="['address']">Address</option>
</select><br/>

Enter an address: <br/>
<input places-auto-complete size=80
       ng-model="address"
       types="{{types}}"
       on-place-changed="placeChanged()" /> <br/>
<div ng-show="place">
    Address = {{place.formatted_address}} <br/>
    Location: {{place.geometry.location}}<br/>
</div>
address : {{address}}
<ng-map></ng-map>




<!--component-restrictions="{country:'us'}"-->