Auto Complete Type:
<select ng-model="types">
    <option value="['geocode']">Geodode</option>
    <option value="['establishment']">Establishment</option>
    <option value="['address']">Address</option>
    <option value="['(cities)']">cities</option>
    <option value="['(regions)']">regions</option>
</select><br/>

Enter an address: <br/>
<input places-auto-complete size=80
       ng-model="address"
       types="{{types}}"
       on-place-changed="placeChanged()" /> <br/>
<div ng-show="place">
    Address = {{place.formatted_address}} <br/>
    Location: {{place.geometry.location}}<br/>
</div>
address : {{address}}
mapzoom: {{mapZoom}}
<ng-map zoom={{mapZoom}} center="[0,0]"><marker position={{address}} title="Hello World!"></marker></ng-map>




<!--component-restrictions="{country:'us'}"-->