<div class="container main-center">
    <div class="row">
        <div class="col-sm-6">
            <h1>Welcome to TripPlaner!</h1>
            <h3> Start a Jurney!</h3>
            </br></br></br>
            <a href="" class="btn btn-primary" data-toggle="modal" data-target="#addEditTrip" ng-click="addDestination()">Start planning a new trip</a>

            </br>
            <div ng-repeat="trip in trips">
                <div class="list-group">
                    <a href="#!/tripDetails/{{trip.id}}" class="list-group-item" >{{trip.name}} {{trip.date_from}}-{{trip.date_to}}</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="http://freedesignfile.com/upload/2017/11/Woman-looking-at-air-plane-Stock-Photo.jpg"
                 class="img-responsive" alt="Cinque Terre">
        </div>
    </div>

</div>
<trip-add-edit></trip-add-edit>