<div class="container main-center">
    <button ng-click="showDay()">Day</button>
    <button ng-click="showWeek()">Week</button>
    <a href="javascript:dp.startDate = dp.startDate.addDays(-7); dp.update();">Previous Week</a> |
    <a href="javascript:dp.startDate = dp.startDate.addDays(7); dp.update();">Next Week</a> -not working yet-
    <daypilot-calendar id="week" daypilot-config="weekConfig" daypilot-events="events"></daypilot-calendar>
    <daypilot-calendar id="day" daypilot-config="dayConfig" daypilot-events="events"></daypilot-calendar>
    <daypilot-navigator id="navi" daypilot-config="navigatorConfig"></daypilot-navigator>
    <div ng-repeat="event in events">
        {{event.text}}
        {{event.start}}
        {{event.end}}
        </br> {{event}}
    </div>
</div>