/* Remove the navbar's default margin-bottom and rounded borders */

body, html {
    height: 100%;
    background-image:  url("http://freedesignfile.com/upload/2014/03/Creative-travel-elements-seamless-pattern-vector1.jpg") ;

}

.bg {
    height: 100%;
    background-size: cover;
}
.sidenav {
    /*padding-top: 20px;*/
    height: auto;
    margin-top: 100px;
    margin-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background:#99ccff;
    color: #FFF;
    text-shadow: none;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
        background:#99ccff;
        color: #FFF;
        padding-top: 30px;
        margin-top: 100px;
    }
    .row.content {height:auto;}
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}


/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}

.md-datepicker-calendar-pane{
    z-index: 1200}



.main-center{
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    background:#99ccff;
    color: #FFF;
    text-shadow: none;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);

}
.panel{
    margin-top: 10px;
}
.panel-heading {
    cursor: pointer;
}
.panel-title a {
    display: block;
    padding: 10px 15px;
    margin: -10px -15px;
    vertical-align: middle;
}
.pac-container {
    z-index: 10000 !important;
}

.modal-content{
    color: #00F;
}
.panel-body{
    color: #00F;
}