/* Remove the navbar's default margin-bottom and rounded borders */
body {
    position: relative;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}

.md-datepicker-calendar-pane{
    z-index: 1200}



.main-center{
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background:#99ccff;
    color: #FFF;
    text-shadow: none;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);

}

.panel-heading {
    cursor: pointer;
}
.panel-title a {
    display: block;
    padding: 10px 15px;
    margin: -10px -15px;
    vertical-align: middle;
}
.pac-container {
    z-index: 10000 !important;
}

.modal-content{
    color: #00F;
}
.panel-body{
    color: #00F;
}