<form>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6">
                <label>Name of destination:</label>
                {{destination.name}}
                <div layout-gt-xs="row">
                    <div flex-gt-xs>
                        <label>Date from:</label>
                        <md-datepicker ng-model="dateFrom" name="dateFrom"
                                       disabled=""></md-datepicker>
                    </div>
                    <div flex-gt-xs>
                        <label>Date to :</label>
                        <md-datepicker ng-model="dateTo" name="dateTo" md-placeholder="Enter date"
                                       disabled=""></md-datepicker>
                    </div>

                </div>
                <a href="" data-toggle="modal" data-target="#addEditDestinationModal" ng-click="editDestination()">Edit destination</a>
                <a href=""  ng-click="deleteDestination()">Delete destination</a>
                </br></br></br></br>
                <div id="tripDestinationLodging">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Lodging</div>
                        <div class="panel-body"><trip-destination-lodging></trip-destination-lodging></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <ng-map center="{{destination.name}}"></ng-map>
            </div>
        </div>
    </div>
</form>

