<div class="container main-center">
    <div class="panel-group" >
            <div id="tripDestinationDetails">
                <div class="panel-primary">
                    <div class="panel-heading"><h1>Destination details</h1></div>
                <div class="panel-body"><trip-destination-details></trip-destination-details></div>
                </div>
            </div>

        <div id="tripDestinationEvents">
            <div class="panel-primary">
                <div class="panel-heading"><h1>Events</h1></div>
                <div class="panel-body"><trip-destination-events></trip-destination-events></div>
                <div class="panel-footer"><a href="" data-toggle="modal" data-target="#largeModal" ng-click="editDestination()">Edit destination</a></div>
            </div>
        </div>
        <div id="tripDestinationSchedule">
                <div class="panel-primary">
                    <div class="panel-heading"><h1>Schedule</h1></div>
                    <div class="panel-body"><trip-destination-schedule></trip-destination-schedule></div>
                    <div class="panel-footer"><a href="" data-toggle="modal" data-target="#largeModal" ng-click="editDestination()">Edit destination</a></div>
                </div>
            </div>
    </div>
</div>


<div class="container main-center">
    <div class="panel-group" >
        <div ng-repeat="book in books | filter:search" class="panel panel-primary" >
                <div class="panel-heading">BLACK FRIDAY DEAL</div>
                <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
            </div>

        </div>
    </div>
</div>
