<h4>Your trip destinations:{{1+2}}</h4>
<div class="panel-group" id="accordion" >
<div ng-repeat="destination in destinations" class="panel panel-default" >
    <div class="panel-heading">
        <h4 class="panel-title" >
             <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{destination.id}}" href="#!/tripDestinationSections/{{destination.id}}">
                {{destination.name}}</a>
        </h4>
    </div>
    <div id="collapse{{destination.id}}" class="collapse">
        <div class="panel-body">
            <p><a href="#!/tripDestinationSections/{{destination.id}}#tripDestinationDetails"> Destination details</a></p>
            <p><a href="#!/tripDestinationSections/{{destination.id}}#tripDestinationLodging"> Lodging</a></p>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <h4 class="panel-title" >
        <a href="" data-toggle="modal" data-target="#addEditDestinationModal" ng-click="addDestination()">Add destination</a>
        <a href="#" ng-click="open()">Add destination2</a>
    </h4>
</div>
</div>

<trip-destination-add-edit></trip-destination-add-edit>
