<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add destination</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Name of destination:</label>
                        <input class="form-control">
                    </div>
                    <div layout-gt-xs="row">
                        <div flex-gt-xs>
                            <label>Date from:</label>
                            <md-datepicker ng-model="dateFrom" name="dateFrom"
                                           md-placeholder="Enter date"></md-datepicker>
                        </div>
                        <div flex-gt-xs>
                            <label>Date to :</label>
                            <md-datepicker ng-model="dateTo" md-placeholder="Enter date"
                                           md-min-date="ctrl.dateFrom"></md-datepicker>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="">Save changes</button>
            </div>
        </div>
    </div>
</div>