<p>{{2+1}}</p>
<h1>Sign In </h1>

<form name="registerInForm" novalidate>

<label>Username</label><input type="text" ng-model="userReg.username" name="username" ng-pattern="rexUsername" required/></br>
	<span style="color:red" ng-show="registerInForm.username.$dirty && registerInForm.username.$invalid">
  	<span ng-show="registerInForm.username.$error.required">Username is required.</span>
  	<span ng-show="registerInForm.username.$invalid">Username is invalid. Minimum 6 characters, at least one letter and one number. Number can't be the first character</span>
  	</span></br>

<label>Password</label><input type="password" ng-model="userReg.password" name="password" ng-pattern="rexPassword" required/></br>
	<span style="color:red" ng-show="registerInForm.password.$dirty && registerInForm.password.$invalid">
  	<span ng-show="registerInForm.password.$error.required">Password is required.</span>
  	<span ng-show="registerInForm.password.$invalid">Password is invalid. Minimum 6 characters, at least one uppercase letter, one lowercase letter and one number</span>
  	</span></br>

<label>Repeat password</label><input type="password" ng-model="userReg.passwordRepeat" name="passwordRepeat"  ng-change="comparePass()" required /></br>
	<span style="color:red" ng-show="registerInForm.passwordRepeat.$dirty" >
  	<span ng-show="registerInForm.password.$error.required">Password confirmation is required.</span>
  	<span ng-show="badPasswords">Passwords have to be the same.</span>
  	</span>
  </br></br>



<label>First name</label><input ng-model="userReg.firstname" name="firstname" ng-pattern="rexName" required/></br>
	<span style="color:red" ng-show="registerInForm.firstname.$dirty && registerInForm.firstname.$invalid">
  	<span ng-show="registerInForm.firstname.$error.required">Firstname is required.</span>
  	<span ng-show="registerInForm.firstname.$invalid">Firstname is invalid.</span>
  	</span></br>

<label>Last name</label><input ng-model="userReg.lastname" name="lastname" ng-pattern="rexName" required/></br>
	<span style="color:red" ng-show="registerInForm.lastname.$dirty && registerInForm.lastname.$invalid">
  	<span ng-show="registerInForm.lastname.$error.required">Lastname is required.</span>
  	<span ng-show="registerInForm.lastname.$invalid">Lastname is invalid.</span>
  	</span></br>

<label>Email</label><input ng-model="userReg.email" name="email" ng-pattern="rexEmail" required/></br>
	<span style="color:red" ng-show="registerInForm.email.$dirty && registerInForm.email.$invalid">
  	<span ng-show="registerInForm.email.$error.required">Lastname is required.</span>
  	<span ng-show="registerInForm.email.$invalid">Lastname is invalid.</span>
  	</span></br></br>

<label>Adres:</label></br>
	<span style="color:red" ng-show="registerInForm.city.$dirty || registerInForm.street.$dirty || registerInForm.houseNumber.$dirty || registerInForm.postNumber.$dirty ">
  	<span ng-show="registerInForm.city.$error.required || registerInForm.street.$error.required || registerInForm.houseNumber.$error.required || registerInForm.postNumber.$error.required ">Address is required.</span>
  	</span></br></br>
<label>City</label><input ng-model="userReg.city" name="city" required/></br>
<label>Street</label><input ng-model="userReg.street" name="street" required/>
<label>House Number</label><input ng-model="userReg.houseNumber" name="houseNumber" required/></br>
<label>Post Number</label><input ng-model="userReg.postNumber" name="postNumber" required/></br>
</form>



<button ng-click="registerIn()" ng-show="registerInForm.$dirty && registerInForm.$valid && !badPasswords">Submit</button>

